h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h2{
    font-family: "Passero One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h4{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

h3{
    font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
