h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h2{
    font-family: "Passero One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
